div.anythingSlider.activeSlider .anythingWindow {
}

div.anythingSlider .anythingControls ul a:hover {
	background-color: red;	
}

div.anythingSlider .anythingControls ul {
	position: absolute;	
	bottom : 30px;
	left: 50px
}

div.anythingSlider .anythingControls ul a {
	background-image: none;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border: 1px solid black;
}

div.anythingSlider.activeSlider .anythingControls ul a.cur {
	background-color: white;	
}

div.anythingSlider .start-stop {
	width : 100px;	
	border-radius : 0 0 0 0;
	position: absolute;
	right : 50px;
	bottom : 30px;
	background-image : none;
	height: 18px;
}