ul#cssmw {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 0;
}
ul#cssmw ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw ul li {
  background-image: none;
}
ul#cssmw li {
  background-image: none;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
  z-index: 100;
}
ul#cssmw li ul {
  display: none;
  top: 0;
}
ul#cssmw li:hover > ul {
  display: block;
  position: absolute;
}

ul#cssmw li.hover > ul {
  display: block;
  position: absolute;
}

ul#cssmw li.current > ul {
  position: absolute;
}
ul#cssmw > li {
  background-image: none;
}
ul#cssmw > li > a, ul#cssmw > li > a:link {
	background-color: #060000;
	background-image: url("../cssmw_images/tool_bg.jpg");
	background-repeat: no-repeat;
	color: #FFF;
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	text-transform: none;
	width: 140px;
	outline-style: none;
	height: 30px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 45px;
}
ul#cssmw > li > a:active, ul#cssmw > li > a:focus {
	background-color: #060000;
	color: #9D0000;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}
ul#cssmw > li:hover > a, ul#cssmw > li:hover > a:link {
	background-color: #060000;
	color: #9D0000;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}

ul#cssmw > li.hover > a, ul#cssmw > li.hover > a:link {
	background-color: #060000;
	color: #173232;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}

ul#cssmw > li.current > a.current, ul#cssmw > li.current > a.current:link {
	background-color: #FAEEDB;
	color: #9D0000;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}
ul#cssmw ul.level-1 {
	left: 190px;
}
ul#cssmw ul.level-1 > li {
  background-image: none;
}
ul#cssmw ul.level-1 > li > a, ul#cssmw ul.level-1 > li > a:link {
	background-color: #999999;
	background-image: none;
	border-bottom: solid 1px #fff;
	border-right: solid 1px #fff;
	color: #060000;
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	width: 160px;
	outline-style: none;
}
ul#cssmw ul.level-1 > li > a:active, ul#cssmw ul.level-1 > li > a:focus {
  background-color: #999999;
  color: #173232;
  font-weight: bold;
  text-decoration: none;
  outline-style: none;
}
ul#cssmw ul.level-1 > li:hover > a, ul#cssmw ul.level-1 > li:hover > a:link {
	background-color: #060000;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}

ul#cssmw ul.level-1 > li.hover > a, ul#cssmw ul.level-1 > li.hover > a:link {
	background-color: #060000;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}

ul#cssmw ul.level-1 > li.current > a.current, ul#cssmw ul.level-1 > li.current > a.current:link {
	background-color: #060000;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	outline-style: none;
}
